.App{
 
  background-image: linear-gradient(rgba(29, 28, 28, 0.5), rgba(11, 8, 8, 0.825)),url("https://assets.nflxext.com/ffe/siteui/vlv3/ab180a27-b661-44d7-a6d9-940cb32f2f4a/7fb62e44-31fd-4e1f-b6ad-0b5c8c2a20ef/IN-en-20231009-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  height:100vh;
  width: 100%;
 background-size: cover;  
}

.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap: 40%;
}
.list ul{
  display: flex;
  gap: 40px;
  

}
.list ul li{
  color:#f5f6fa;
  list-style: none;

}

.logoimg{
  width: 150px;
  height:auto ;
}
.btn{
  background-color:#EA2027;
  height:20px;
  width: 60px;
  font-size: 10px;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover{
  background-color:#9f0922;
}
.header{
  padding-top:70px;
  text-align: center;
  color: #f5f6fa;

}
h1{
  font-size: 40px;
}
.serch{
  padding-top:5px;
}
.form__field{
  height: 35px;
  width:300px;
  border: none;
  background-color: rgba(0, 0, 0, 0.482);
  padding: 5px;

}
.btn1{
  padding: 13px;
  margin-left: 10px;
  width:160px ;
  background-color:#EA2027;
  border: none;
  border-radius: 4px;
  color: #f5f6fa;
  cursor: pointer;
}
.btn1:hover{
  background-color:#9f0922;
}
.icon{
  font-size: 13px;
}


ul li{
  text-align: center;
}
.icon1{
  border: 1px solid #f5f6fa;
  width: 90px;
  text-align: center;
  justify-content: center;
  height:22px;
  font-size:14px;
  font-weight:600;
  display: flex;
  justify-content: space-evenly;
  background-color:rgba(0, 0, 0, 0.506);
  padding: 2px;
  border-radius: 4px;
}

